<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AADLab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">AADLab</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item require-user" style="display: none;">
                            <span class="navbar-text" id="currentUser"></span>
                        </li>
                        <li class="nav-item require-user" style="display: none;">
                            <a class="nav-link text-dark" asp-page="/Profile">Profile</a>
                        </li>
                        <li class="nav-item require-nouser" style="display: none;">
                            <a class="nav-link text-dark" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item require-nouser" style="display: none;">
                            <a class="nav-link text-dark" asp-page="/SignUp">Sign up</a>
                        </li>
                        <li class="nav-item require-user" style="display: none;">
                            <a class="nav-link text-dark" style="cursor: pointer" onclick="signOutCurrentUser()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AADLab
        </div>
    </footer>
    
    <script src="/config.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://alcdn.msauth.net/browser/2.18.0/js/msal-browser.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">

        function signOutCurrentUser() {
            signOut();
            window.location.reload();
            return false;
        }

        $(document).on("ssoComplete", () => {

            const user = getUser();

            if (user) {
                $("#currentUser").html("Logged in as " + user.user);
                $(".require-user").show();
                $(".require-nouser").hide();
            }
            else {
                $(".require-user").hide();
                $(".require-nouser").show();
            }
        });
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
