@page
@model AADLab.Pages.LinkModel
@section Scripts {

    <script type="text/javascript">

        // When the DOM is ready...
        $(() => {
            
        });

        async function handleLink(link) {

            const user = getUser();
            
            if (!user || !user.link) {
                location.href = "/";
            }

            if (linkIdentity(user.aadToken, link)) {
                location.href = "/profile";
            }
        }

    </script>
}


<div class="container">
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            We found a local account with the same email address! Would you like to link it to this Microsoft account?
        </div>
        <div class="card-body px-5 text-center">
            <button class="btn btn-primary mr-5" onclick="handleLink(true)">Yes! Link my account</button>
            <button class="btn btn-primary" onclick="handleLink(false)">No thanks</button>
        </div>
    </div>
</div>